<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Welcome {{ user.username }}</h1>
<p>Balance: {{ user.balance }} {{ currency }}</p>
<p>Loan: {{ user.loan }} {{ currency }}</p>
<a href="/transfer">Send Money</a> | <a href="/loan">Take Loan</a> | <a href="/repay">Repay Loan</a> | {% if user.username=="Guverner" %}<a href="/admin">Admin Panel</a> |{% endif %} <a href="/logout">Logout</a>
</body>
</html>